# Ambiente virtual Python
.venv/
venv/
ENV/
env/

# Variáveis de ambiente
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# Distribuição / empacotamento
dist/
build/
*.egg-info/

# IDEs
.vscode/settings.json
*.swp
*.swo
*~

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Logs
logs/
*.log

# Pastas geradas pelo SDK SciCam em tempo de execução
System/
SystemLog/
DrvLog/